<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body py-4">
                <h1 class="card-title text-center mt-2 mb-3">Edit Profile</h1>
                {{#if errorMessage}}
                <div class="alert alert-danger" role="alert">
                    {{errorMessage}}
                </div>
                {{/if}}
                {{#if successMessage}}
                <div class="alert alert-success" role="alert">
                    {{successMessage}}
                </div>
                {{/if}}
                <form action="" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control {{#if errors.name }}is-invalid{{/if}}" id="name"
                            name="name" autofocus value="{{user.name}}">
                        <div class="invalid-feedback">
                            {{errors.name}}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control {{#if errors.username }}is-invalid{{/if}}" id="username"
                            name="username" autofocus value="{{user.username}}">
                        <div class="invalid-feedback">
                            {{errors.username}}
                        </div>
                    </div>

                    <button class="btn btn-primary py-3 fw-bold w-100">Edit</button>
                </form>
            </div>
        </div>
    </div>
</div>