<div class="row">
    <div class="col-md-6 mx-auto">
        <h1>Users</h1>

        {{#each users}}
        {{#dataValues}}
        <div class="card card-post mb-1">
            <div class="card-body">
                <small class="fw-bold mb-2 d-block"><a href="/users/{{username}}">{{username}}</a></small>
                <span class="card-post-small-text d-block">Registered since {{fromNow createdAt}}</span>
                {{!-- <div class="text-muted">
                    {{Posts.Likes}}
                    <small class="pe-3">{{len Posts.Likes}} {{plural (len Posts.Likes) 'Like'}}</small>
                    <small class="pe-3">{{len Posts}} {{plural (len Posts) 'Post'}}</small>
                </div> --}}
            </div>
        </div>
        {{/dataValues}}
        {{else}}
        <p class="text-danger text-center py-5 fw-bold">Users does not exist.</p>
        {{/each}}
    </div>
</div>