<div class="row">
    <div class="col-md-6 mx-auto">
        {{#if successMessage}}
        <div class="alert alert-success" role="alert">
            {{successMessage}}
        </div>
        {{/if}}
        <a href="/posts/create" class="btn btn-primary fw-bold mb-3">Create Post</a>
        {{#each posts}}
        {{#dataValues}}
        <div class="card card-post mb-1">
            <div class="card-body">
                <div class="pb-2 d-block">
                    <small class="fw-bold">{{User.dataValues.username}}</small>
                    {{!-- <span>{{createdAt}}</span> --}}
                    <span class="card-post-small-text d-block">{{fromNow createdAt}}</span>
                </div>
                <div>
                    <p class="card-post-text">{{content}}</p>
                </div>
                <div>
                    {{#if (isLiked ../../user.id this)}}
                    <button class="btn btn-sm text-primary btn-primary text-white btn-like" data-id="{{id}}">{{len
                        Likes}} {{plural (len Likes)
                        'Like'}}</button>
                    {{else}}
                    <button class="btn btn-sm text-primary btn-like" data-id="{{id}}">{{len Likes}} {{plural (len Likes)
                        'Like'}}</button>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/dataValues}}
        {{else}}
        <p class="text-danger text-center py-5 fw-bold">Posts does not exist.</p>
        {{/each}}
    </div>
</div>