<div class="row">
    <div class="col-md-6 mx-auto">
        {{#if errorMessage}}
        <div class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div>
        {{/if}}
        {{#if successMessage}}
        <div class="alert alert-success" role="alert">
            {{successMessage}}
        </div>
        {{/if}}
        <a href="/posts/create" class="btn btn-primary fw-bold mb-3">Create Post</a>
        {{#each posts}}
        {{#dataValues}}
        <div class="card card-post mb-1">
            <div class="card-body">
                <div class="pb-2 d-block">
                    <small class="fw-bold">{{User.dataValues.username}}</small>
                    {{!-- <span>{{createdAt}}</span> --}}
                    <span class="card-post-small-text d-block">{{fromNow createdAt}}</span>
                </div>
                <div>
                    <p class="card-post-text">{{content}}</p>
                </div>
                <div>
                    <div class="d-inline-block me-3">
                        {{#if (isLiked ../../user.id this)}}
                        <div class="like">
                            <small class="like-count">{{len Likes}}</small>
                            <a href="" class="link-primary text-decoration-none btn-like" data-id="{{id}}">Unlike</a>
                        </div>
                        {{else}}
                        <div class="like">
                            <small class="like-count">{{len Likes}}</small>
                            <a href="" class="link-primary text-decoration-none btn-like" data-id="{{id}}">
                                Like</a>
                        </div>
                        {{/if}}
                    </div>
                    {{#if (isSame UserId ../../user.id)}}
                    <form action="/posts/{{id}}/delete" method="post" class="d-inline-block">
                        <button class="btn btn-danger btn-sm">delete</button>
                    </form>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/dataValues}}
        {{else}}
        <p class="text-danger text-center py-5 fw-bold">Posts does not exist.</p>
        {{/each}}
    </div>
</div>